/* Dark mode colors. */

:root {
    --sl-font: 'F37 Ginger', serif;
  }



:root[data-theme='dark'] {
	--sl-color-accent-low: #2c1743;
	--sl-color-accent: #8a2ad7;
	--sl-color-accent-high: #d3bcf4;
	--sl-color-white: #ffffff;
	--sl-color-gray-1: #eeeeee;
	--sl-color-gray-2: #c2c2c2;
	--sl-color-gray-3: #8b8b8b;
	--sl-color-gray-4: #585858;
	--sl-color-gray-5: #383838;
	--sl-color-gray-6: #272727;
	--sl-color-black: #181818;

.first-row {
		background-color: #D3BCF4;
		color: #2c1743;
}

}
/* Light mode colors. */
:root[data-theme='light'] {
	--sl-color-accent-low: #dfcef8;
	--sl-color-accent: #8c2dd9;
	--sl-color-accent-high: #401b63;
	--sl-color-white: #181818;
	--sl-color-gray-1: #272727;
	--sl-color-gray-2: #383838;
	--sl-color-gray-3: #585858;
	--sl-color-gray-4: #8b8b8b;
	--sl-color-gray-5: #c2c2c2;
	--sl-color-gray-6: #eeeeee;
	--sl-color-gray-7: #f6f6f6;
	--sl-color-black: #ffffff;

	.first-row {
		background-color: #8c2dd9;
		color: white;
}

}
